packages:
  rpm:
    php-pear: []
    php-devel: []
    gcc: []
    openssl: []
    openssl-devel: []
files:
    "/etc/php.d/99mongo.ini":
        mode: "000755"
        owner: root
        group: root
        content: |
            extension=mongodb.so
commands:
    01-install_mongo_driver_command:
        command: sudo pecl uninstall mongodb
    02-install_mongo_driver_command:
        command: sudo pecl install mongodb
        ignoreErrors: true