container_commands:
    01-no_dev:
        command: "composer.phar install --optimize-autoloader --no-dev"
    02-storage_permission:
        command: "chmod -R 755 ./storage"
    03-config_clear:
        command: "php artisan config:clear"
    04-view_clear:
        command: "php artisan view:clear"
    #05-route_cache:
    #    command: "php artisan route:cache"
    #06-view_cache:
    #    command: "php artisan view:cache"
    07-queue_service_restart:
        command: "systemctl restart laravel_worker"
files:
    /var/www/html/worker_script.sh:
        mode: "000755"
        owner: root
        content: |
            #!/bin/sh
            cd /var/www/html && export $(cat /opt/elasticbeanstalk/deployment/env) && php artisan queue:work

    /opt/elasticbeanstalk/tasks/taillogs.d/laravel-logs.conf: 
        content: /var/app/current/storage/logs/laravel.log
        group: root
        mode: "000755"
        owner: root
    /etc/systemd/system/laravel_worker.service:
        mode: "000755"
        owner: root
        group: root
        content: |
            # Laravel queue worker using systemd
            # ----------------------------------
            #
            # /lib/systemd/system/queue.service
            #
            # run this command to enable service:
            # systemctl enable queue.service

            [Unit]
            Description=Laravel queue worker

            [Service]
            EnvironmentFile=/opt/elasticbeanstalk/deployment/env
            Restart=always
            ExecStart=/usr/bin/nohup /var/www/html/worker_script.sh

            [Install]
            WantedBy=multi-user.target
